## Linear Regression Model

In [162]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import tree
import streamlit
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,root_mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import GaussianNB

Load a data set analyzing the Spending Score based on salary, age and sex

In [163]:
data= pd.read_csv("data/raw/Mall_Customers.csv", sep = ",")
data.info()
data.describe()
data = data.drop(["CustomerID"], axis = 1)
data.loc[:, 'Annual Income'] *=1000
column_list = list(data.columns)
print(column_list)
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerID      200 non-null    int64
 1   Sex             200 non-null    object
 2   Age             200 non-null    int64
 3   Annual Income   200 non-null    int64
 4   Spending Score  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
['Sex', 'Age', 'Annual Income', 'Spending Score']

      Sex  Age  Annual Income  Spending Score
0    Male   19          15000              39
1    Male   21          15000              81
2  Female   20          16000               6
3  Female   23          16000              77
4  Female   31          17000              40

In [164]:
data.loc[:, 'Annual Income'].max

<bound method Series.max of 0       15000
1       15000
2       16000
3       16000
4       17000
        ...
195    120000
196    126000
197    126000
198    137000
199    137000
Name: Annual Income, Length: 200, dtype: int64>

Convert sex into binary code, male is 1 female is 0

In [165]:
data['Sex'] = data['Sex'].map({'Male': 1, 'Female': 0})

Omit the target column and split the data sets.

In [166]:
X = data[['Sex', 'Age', 'Annual Income']]
y = data['Spending Score']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Train Linear Regression Model

In [167]:
model = LinearRegression()

In [168]:
cv_results = cross_val_score(model, X_train, y_train, cv=5, scoring='r2')
print(f"Cross-Validation R² Scores: {cv_results}")
print(f"Average R² Score: {np.mean(cv_results):.2f}")

Cross-Validation R² Scores: [ 0.14285989 -0.00449044 -0.16108338  0.14920608  0.04561792]
Average R² Score: 0.03

In [169]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

Evaluate the fitted model

In [170]:
mae = mean_absolute_error(y_test, y_pred)
rmse = root_mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# Print regression evaluation metrics
print(f"Mean Absolute Error (MAE): {mae:.2f}")
print(f"Root Mean Squared Error (RMSE): {mse:.2f}")
print(f"R² Score: {r2:.2f}")

Mean Absolute Error (MAE): 18.15
Root Mean Squared Error (RMSE): 21.92
R² Score: 0.03

In [171]:
from pickle import dump

dump(model, open("models/linear_regression_mall.sav", "wb"))

# Results:
# Render.com link https://streamlit-if.onrender.com/
# Streamlit link https://orange-telegram-6vwxwxp9pxxf47pq-8501.app.github.dev/